<!DOCTYPE html>
<html>
<head>
  <title>Ultra Pong</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css"> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Audiowide"
    rel="stylesheet"
  >
  <link
    href="https://fonts.googleapis.com/css2?family=Exo"
    rel="stylesheet"
  >
</head>
<body>
    <div class="title">
      <!--TÍTULO: Ultra Pong-->
      <span class="text">
        Ult<span class="flick">r</span>a
        Pong
    </span>
      
    </div>
    <div class="container">
      <a href="local" class="button1">Local</a>
      <a href="online" class="button2">Online</a>
    </div>
    <div class="footer">
      <p>
        Apresentado ao docente Marciel Silva Santos. IFSP - Campus Cubatão, 2023.
        <br>
        Integrantes: Felipe Cruz, Iasmim Fraga, Isabeli Cristiny, Levi Sales, Mateus Domingues 
      </p>
    </div>
</body>
</html>