<!DOCTYPE html>
<html>
<head>
  <title>Ultra Pong</title>
  <meta charset="UTF-8">
  <script src="/classes.js" defer></script>
  <script src="/local/inputs.js" defer></script>
  <script src="/local/logic.js" defer></script>
  <script src="/local/render.js" defer></script>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    canvas {
      position: absolute;
      margin: auto;
      display: block;
      top: 50vh;
      bottom: 50vh;
    }
    @keyframes neutral {
      to {
        transform-origin: 0deg;
      }
    }
    @keyframes bluetilt {
      from {
        transform-origin: 0deg;
      }
      to {
        transform: rotate(.5deg);
      }
    }
    @keyframes redtilt {
      from {
        transform-origin: 0deg;
      }
      to {
        transform: rotate(-.5deg);
      }
    }
    @keyframes bluebg {
      to {
        background-color: rgb(128, 128, 255);
      }
    }
    @keyframes redbg {
      to {
        background-color: rgb(255, 128, 128);
      }
    }
    @keyframes whitebg {
      to {
        background-color: white;
      }
    }
  </style>
</head>
<body>
  <canvas id="Ultra Pong" width="1540" height="735">Error.</canvas>
  <audio loop autoplay>
    <source src="/Megalovania.ogg" type="audio/ogg">
    Your browser doesn't support audio tag.
  </audio>
</body>
</html>